.banner {
    position: relative;
    padding-top: 68px;
    height: 600px;
}

.banner ul li img {
    width: 100%;
}

.banner ul li {
    position: absolute;
    left: 0;
    top: 68px;
    display: none;
}

.banner ul li.cur {
    display: block;
}

.banner .btns {
    position: absolute;
    left: 50%;
    margin-left: -45px;
    bottom: 30px;
}

.banner .btns ol li {
    list-style: none;
    width: 20px;
    height: 4px;
    background: #fff;
    margin: 0 5px;
    float: left;
    cursor: pointer;
}

.banner .btns ol li.cur {
    background: rgb(202, 167, 133);
}

/* 推荐新品 */
.new_pro .pro_detail {
    height: 365px;
    position: relative;
}

.new_pro .pro_detail li {
    float: left;
    width: 275px;
    height: 365px;
    margin: 0 5px;
}

.new_pro .pro_detail li .pic {
    width: 100%;
}

.new_pro .pro_detail .btns a {
    position: absolute;
    top: 50%;
    font-size: 28px;
    font-family: serif;
    color: #c3c3c3;
    font-weight: 600;
}

.new_pro .pro_detail .btns .left {
    left: -40px;
}

.new_pro .pro_detail .btns .right {
    right: -40px;
}

/* 专题活动 */
.special .content>div {
    float: left;
}

.special .content .pic {
    overflow: hidden;
    position: relative;
}

.special .content img {
    width: 100%;
    height: 100%;
    transition: all 0.7s;
}

.special .content .pic:hover img {
    transform: scale(1.2);
}

.special .content .left {
    margin-right: 5px;
    width: 680px;
    height: 380px;
}

.special .content .right .r_top {
    width: 450px;
    height: 185px;
    margin-bottom: 5px;
}

.special .content .right .r_bottom {
    width: 450px;
    height: 190px;
}

.special .content span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #fff;
    transition: all 0.7s;
}

.special .content .pic:hover span {
    transform: scale(0.9);
}

/* 青竹良品 */
.qingzhu .content .qz_common {
    height: 330px;
    margin-bottom: 10px;
}

.qingzhu .content .qz_common li {
    float: left;
    width: 220px;
    height: 310px;
    margin-right: 10px;
}

.qingzhu .content .qz_common li:last-child {
    margin-right: 0;
}

.qingzhu .content .qz_common li:first-child {
    padding: 0;
    height: 330px;
}

.qingzhu .content .qz_common li:first-child .pic {
    width: 220px;
    height: 330px;
}

.qingzhu .content .qz_common li:first-child img {
    width: 100%;
    height: 100%;
}

.qingzhu .content .qz_common li:first-child .content,
.qingzhu .content .qz_common li:first-child .mask {
    display: none;
}

/* 全球大牌 */
.global .content .gl_top>div,
.global .content .gl_bottom>div {
    float: left;
}

.global .content .gl_top .glo1 {
    width: 504px;
    height: 358px;
    margin-right: 13px;
}

.global .content .gl_top .glo2 {
    margin-bottom: 15px;
}

.global .content .gl_top .gol_common {
    width: 410px;
    height: 172px;
}

.global .content .gl_top .glo4 {
    width: 197px;
    height: 358px;
    float: right;
}

.global .content .gl_top .pic {
    overflow: hidden;
    position: relative;
}

.global .content .gl_top img {
    width: 100%;
    height: 100%;
    transition: all 0.7s;
}

.global .content .gl_top .pic:hover img {
    transform: scale(1.2);
}

.global .content .gl_top span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #fff;
    transition: all 0.7s;
}

.global .content .gl_top .pic:hover span {
    transform: scale(0.9);
}

.global .content .gl_bottom {
    margin-top: 20px;
}

.global .content .gl_bottom .gl_chara {
    width: 200px;
    margin-right: 33px;
    text-align: center;
}

.global .content .gl_bottom .gl_chara:last-child {
    margin-right: 0;
}

.global .content .gl_bottom .gl_chara p {
    line-height: 50px;
    color: #999;
    font-size: 14px;
}

.global .content .gl_bottom .gl_chara a {
    display: block;
    width: 200px;
    height: 90px;
    text-align: center;
    border: 2px solid #f2f2f2;
    overflow: hidden;
    position: relative;
}

.global .content .gl_bottom .gl_chara a img {
    position: absolute;
    left: 50%;
    margin-left: -90px;
    transition: all 1s;
}

.global .content .gl_bottom .gl_chara a:hover img {
    left: 30%;
}

/* 良品体验 */
.lp_ty {
    background: #f6f0ec;
    padding-bottom: 50px;
}

.lp_ty .content li {
    width: 260px;
    height: 390px;
    margin: 0 10px;
    background-color: #fff;
    float: left;
    position: relative;
    overflow: hidden;
}

.lp_ty .content li .ty_top {
    width: 260px;
    height: 260px;
}

.lp_ty .content li .ty_top img {
    width: 100%;
    height: 100%;
    transition: all 1s;
}

.lp_ty .content li .ty_top img:hover {
    transform: scale(1.2);
}

.lp_ty .content li .ty_bottom {
    width: 250px;
    background-color: #fff;
    position: absolute;
    top: 250px;
    left: 50%;
    margin-left: -125px;
}

.lp_ty .content .ty_bottom .title {
    line-height: 50px;
    overflow: hidden;
    padding: 0 10px;
}

.lp_ty .content .ty_bottom .title .tit_name {
    font-size: 14px;
    font-weight: 600;
    float: left;
}

.lp_ty .content .ty_bottom .title .tit_pri {
    float: right;
    color: #C78A49;
}

.lp_ty .content .ty_bottom .detail {
    font-size: 12px;
    line-height: 18px;
    color: #4D4D4D;
    /* 文字溢出省略号 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.lp_ty .content .ty_bottom .ty_footer {
    font-size: 12px;
    line-height: 30px;
    color: #777777;
}