html {
  /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
  font-size: 10px;
  /* Google fonts 输出的 CSS */
  /* font-family: 'Open Sans', sans-serif; */
  background-color: #00539F;
}
body {
    width: 800px;
    margin: 20px auto;
    background-color: #ddebff;
    padding: 0 40px 40px 40px;
    border: 5px solid rgba(0, 0, 0, 0.301);
}
h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    color: #00539F;
    text-shadow: 3px 3px 5px black;
    text-align: center;
}
p, li {
    font-size: 20px;
    /* line-height 后而可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    line-height: 2;
    letter-spacing: 1px;
}

img[src] {
   width: 300px;
   display: block;
   margin: 0 auto;
}
